{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}个人资料{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'user/userinfo.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div  class="row userinfo">
            <div class="col-lg-12">
                {% if user.is_authenticated%}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>用户名：{{ user.username }}</h3></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                昵称：{{ user.get_nickname }}
                                <a href="{% url 'change_nickname'%}?from={{ request.get_full_path }}">
                                修改昵称
                                </a>
                            </li>
                            <li class="list-group-item">
                                邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定
                                <a href="{% url 'bind_email'%}?from={{ request.get_full_path }}">绑定邮箱</a>{% endif %}
                            </li>
                            <li class="list-group-item">
                                上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}
                            </li>
                            <li class="list-group-item"><a href="{% url 'change_password' %}">修改密码</a></li>
                        </ul>
                    </div>
                {% else %}
                    <span>未登录，跳转到首页</span>
                    <script type="text/javascript">
                        setTimeout(function (){window.location.href = '/'},1000);
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}